* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
}

.target {
  width: 100%;
  padding: 3rem 4rem;
  font-family: Nimbus Sans Becker PBla;
  font-variant: initial;
  gap: 5rem;
}
@media (max-width: 600px), (max-width: 400px) {
  .target {
    flex-direction: column;
  }
}
.target .left-target {
  width: 50%;
  padding-right: 0;
}
@media (max-width: 600px), (max-width: 400px) {
  .target .left-target {
    width: 100%;
  }
}
.target .left-target img {
  width: 78%;
}
@media (max-width: 600px), (max-width: 400px) {
  .target .left-target img {
    width: 100%;
  }
}
.target .right-target {
  width: 50%;
  padding: 0.2rem 0.5rem;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}
@media (max-width: 600px), (max-width: 400px) {
  .target .right-target {
    width: 100%;
    padding: 0rem;
  }
}
.target .right-target .text-trasp {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(12, 10, 10);
}
.target .right-target .browntxt {
  font-style: italic;
  font-weight: 100;
}
.target .right-target .donation {
  border-bottom: 1px solid black;
  width: 60%;
  padding: 1rem 0;
  gap: 2rem;
}
.target .right-target .donation .left-dona {
  gap: 2rem;
}
.target .right-target .donation .left-dona .title {
  font-family: Arial, Helvetica, sans-serif;
}
.target .right-target .donation .left-dona .amt {
  font-weight: bolder;
}
.target .right-target .dontn {
  width: 130px;
}
@media (max-width: 600px), (max-width: 400px) {
  .target .right-target {
    width: 98%;
  }
}
.target .right-target .browntxt {
  color: rgb(205, 33, 29);
}

.causes {
  background-color: green;
}
.causes .top-causes {
  text-align: center;
}
img {
  width: 90%;
}

.browntxt {
  font-style: italic;
  font-weight: 100;
}

.text-trasp {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(12, 10, 10);
}

.tr-text {
  color: transparent;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.01);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.flex-space {
  display: flex;
  justify-content: space-between;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-wraper {
  width: 100%;
}
.container-wraper .header-wrapper .navBar-wrapper {
  width: 100%;
  gap: 2rem;
  position: absolute;
  z-index: 99999;
  top: 0;
  padding: 0.7rem 4rem;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid rgb(255, 239, 239);
}
@media (max-width: 600px) {
  .container-wraper .header-wrapper .navBar-wrapper {
    background-color: rgb(11, 11, 11);
    justify-content: space-between;
    padding: 0rem 0.3rem;
    position: -webkit-sticky;
    position: sticky;
  }
}
.container-wraper .header-wrapper .navBar-wrapper img {
  width: 120px;
}
.container-wraper .header-wrapper .navBar-wrapper .left-nav {
  width: 70%;
  gap: 2rem;
  font-weight: bold;
  align-items: center;
}
@media (max-width: 600px) {
  .container-wraper .header-wrapper .navBar-wrapper .left-nav {
    width: 95%;
    padding: 0.6rem 0.3rem;
    justify-content: space-between;
  }
}
.container-wraper .header-wrapper .navBar-wrapper .left-nav .hamMen {
  visibility: hidden;
}
@media (max-width: 600px) {
  .container-wraper .header-wrapper .navBar-wrapper .left-nav .hamMen {
    visibility: visible;
  }
}
.container-wraper .header-wrapper .navBar-wrapper .left-nav .home {
  border: 2px solid rgb(205, 33, 29);
  padding: 0.4rem 0.8rem;
  color: rgb(205, 33, 29);
  border-radius: 20px;
}
.container-wraper .header-wrapper .navBar-wrapper .left-nav a {
  text-decoration: none;
  color: white;
}
.container-wraper .header-wrapper .navBar-wrapper .left-nav a:hover {
  color: rgb(205, 33, 29);
}
@media (max-width: 600px) {
  .container-wraper .header-wrapper .navBar-wrapper .left-nav a {
    display: none;
  }
}
.container-wraper .header-wrapper .navBar-wrapper .right-nav {
  width: 30%;
  padding: 1rem 2rem;
  gap: 0.5rem;
}
@media (max-width: 600px) {
  .container-wraper .header-wrapper .navBar-wrapper .right-nav {
    display: none;
  }
}
.container-wraper .header-wrapper .navBar-wrapper .right-nav button {
  padding: 0.4rem 1.1rem;
  font-size: 0.9rem;
  color: white;
  font-weight: bold;
  background-color: black;
}
@media (max-width: 600px) {
  .container-wraper .header-wrapper .navBar-wrapper .right-nav button {
    display: none;
  }
}
.container-wraper .header-wrapper .navBar-wrapper .right-nav .navDonate {
  padding: 0.6rem 1rem;
  gap: 0.4rem;
  border: 2px solid white;
}
.container-wraper .header-wrapper .navBar-wrapper .right-nav .navDonate:hover {
  color: rgb(205, 33, 29);
  border: 2px solid rgb(205, 33, 29);
}
@media (max-width: 600px) {
  .container-wraper .header-wrapper .navBar-wrapper .right-nav .navDonate {
    background-color: red;
    visibility: hidden;
  }
}
.container-wraper .header-wrapper .navBar-wrapper .right-nav .navDonate svg {
  fill: rgb(205, 33, 29);
}
.container-wraper .header-wrapper .navBar-wrapper .right-nav a {
  text-decoration: none;
  color: white;
}
@media (max-width: 600px) {
  .container-wraper .header-wrapper .navBar-wrapper .right-nav .none {
    display: none;
  }
}
.container-wraper .header-wrapper .hero-wrapper {
  background-color: rgb(241, 237, 237);
  width: 100%;
  position: relative;
}
@media (max-width: 600px), (max-width: 400px) {
  .container-wraper .header-wrapper .hero-wrapper {
    background-color: red;
  }
}
.container-wraper .header-wrapper .hero-wrapper .side-hero {
  width: 8%;
  border-right: 1px solid gray;
  flex-direction: column;
  gap: 1.7rem;
  padding-top: 5rem;
  margin-top: 2.3rem;
  padding-left: 1rem;
  position: absolute;
  top: 4.8rem;
  z-index: 1400;
}
@media (max-width: 600px) {
  .container-wraper .header-wrapper .hero-wrapper .side-hero {
    display: none;
  }
}
.container-wraper .header-wrapper .hero-wrapper .side-hero .line {
  width: 1px;
  height: 50px;
  background-color: aliceblue;
  margin-left: 0.7rem;
}
.container-wraper .header-wrapper .hero-wrapper .side-hero svg {
  width: 20px;
}
.container-wraper .header-wrapper .hero-wrapper .main-hero {
  width: 100%;
  position: relative;
  z-index: 10;
}
@media (max-width: 600px) {
  .container-wraper .header-wrapper .hero-wrapper .main-hero {
    width: 100%;
  }
}
.container-wraper .header-wrapper .hero-wrapper .main-hero .left-main {
  width: 30%;
  position: absolute;
  left: 10%;
  top: 40%;
  color: white;
  z-index: 2000;
}
@media (max-width: 600px) {
  .container-wraper .header-wrapper .hero-wrapper .main-hero .left-main {
    width: 100%;
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    color: white;
  }
}
.container-wraper .header-wrapper .hero-wrapper .main-hero .left-main h1 {
  color: white;
  font-size: 4.4rem;
  width: 560px;
  letter-spacing: 2rem;
  background-color: red;
}
@media (max-width: 600px) {
  .container-wraper .header-wrapper .hero-wrapper .main-hero .left-main h1 {
    font-size: 2rem;
    width: 100%;
    padding: 1rem;
  }
}
.container-wraper .header-wrapper .hero-wrapper .main-hero .left-main a {
  text-decoration: none;
  color: white;
  justify-content: flex-start;
}
@media (max-width: 600px) {
  .container-wraper .header-wrapper .hero-wrapper .main-hero .left-main a {
    font-size: 1rem;
  }
}
.container-wraper .header-wrapper .hero-wrapper .main-hero .left-main a .line {
  width: 30px;
  height: 1px;
  background-color: white;
}
.container-wraper .header-wrapper .hero-wrapper .main-hero .splide {
  width: 100%;
  height: auto;
  z-index: 100;
}
@media (max-width: 600px) {
  .container-wraper .header-wrapper .hero-wrapper .main-hero .splide {
    width: 100%;
  }
}
.container-wraper .header-wrapper .hero-wrapper .main-hero .splide .splide__track .splide__list {
  background-color: green;
}
.container-wraper .header-wrapper .hero-wrapper .main-hero .splide .splide__track .splide__list .splide__slide .youtub-wrapper {
  position: absolute;
  z-index: 1000;
  top: 30%;
  padding: 2rem 2rem;
  border-radius: 50%;
  border: none;
  right: 2rem;
  justify-content: center;
  padding: 1.5rem 1rem;
  background: radial-gradient(red, rgb(255, 106, 0), pink, rgb(237, 27, 157));
  background-blend-mode: multiply;
  -webkit-animation: bgAnimation 3s linear infinite;
          animation: bgAnimation 3s linear infinite;
}
@-webkit-keyframes bgAnimation {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
@keyframes bgAnimation {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
@media (max-width: 600px) {
  .container-wraper .header-wrapper .hero-wrapper .main-hero .splide .splide__track .splide__list .splide__slide .youtub-wrapper {
    padding: 1rem 1rem;
  }
}
.container-wraper .header-wrapper .hero-wrapper .main-hero .splide .splide__track .splide__list .splide__slide .youtub-wrapper .youtub-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  background: radial-gradient(pink, red, transparent, transparent);
}
.container-wraper .header-wrapper .hero-wrapper .main-hero .splide .splide__track .splide__list .splide__slide .youtub-wrapper .youtube {
  width: 100px;
}
@media (max-width: 600px) {
  .container-wraper .header-wrapper .hero-wrapper .main-hero .splide .splide__track .splide__list .splide__slide .youtub-wrapper .youtube {
    width: 40px;
    height: 40px;
  }
}
.container-wraper .header-wrapper .hero-wrapper .main-hero .splide .splide__track .splide__list .splide__slide .text {
  position: absolute;
  top: 12rem;
  font-family: "Roboto Mono", monospace;
  left: 10%;
  z-index: 1000;
  width: 40%;
}
@media (max-width: 600px) {
  .container-wraper .header-wrapper .hero-wrapper .main-hero .splide .splide__track .splide__list .splide__slide .text {
    position: absolute;
    top: 3rem;
    left: 2%;
    width: 100%;
    z-index: 1000;
    width: 70%;
  }
}
.container-wraper .header-wrapper .hero-wrapper .main-hero .splide .splide__track .splide__list .splide__slide .text h1 {
  color: white;
  font-size: 4.4rem;
  width: 660px;
  font-family: "Archivo Black", sans-serif;
  letter-spacing: 0.4rem;
}
@media (max-width: 600px) {
  .container-wraper .header-wrapper .hero-wrapper .main-hero .splide .splide__track .splide__list .splide__slide .text h1 {
    font-size: 2rem;
    width: 100%;
  }
}
.container-wraper .header-wrapper .hero-wrapper .main-hero .splide .splide__track .splide__list .splide__slide .text a {
  text-decoration: none;
}
.container-wraper .header-wrapper .hero-wrapper .main-hero .splide .splide__track .splide__list .splide__slide .text a p {
  color: white;
}
.container-wraper .header-wrapper .hero-wrapper .main-hero .splide .splide__track .splide__list .splide__slide .text .donate {
  color: white;
  justify-content: flex-start;
  padding-top: 1rem;
  gap: 0.1rem;
}
.container-wraper .header-wrapper .hero-wrapper .main-hero .splide .splide__track .splide__list .splide__slide .text .donate .line {
  width: 30px;
  height: 1px;
  background-color: white;
}
.container-wraper .header-wrapper .hero-wrapper .main-hero .splide .splide__track .splide__list .splide__slide img {
  width: 100%;
  height: auto;
}
@media (max-width: 600px) {
  .container-wraper .header-wrapper .hero-wrapper .main-hero .splide .splide__track .splide__list .splide__slide img {
    width: 100%;
    height: 450px;
  }
}

.normal {
  background-color: red;
}

.splide__arrow {
  display: none;
  color: white;
  top: 30%;
  margin: auto;
}
.splide__arrow .splide__arrow--next {
  background-color: white;
  right: 2rem;
}

.d {
  background-color: red;
  position: fixed;
}

.navDonate {
  padding: 0.6rem 1rem;
  gap: 0.4rem;
  border: 2px solid white;
  text-decoration: none;
  color: rgb(205, 33, 29);
  border-color: rgb(205, 33, 29);
}
.navDonate a {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */